@font-face {
  font-family: nunito;
  src: url(../fonts/NunitoSans_7pt-ExtraLight.woff2),
    url(../fonts/NunitoSans_7pt-ExtraLight.woff);
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url(../fonts/NunitoSans_7pt-Light.woff2),
    url(../fonts/NunitoSans_7pt-Light.woff);
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url(../fonts/NunitoSans_7pt-Regular.woff2),
    url(../fonts/NunitoSans_7pt-Regular.woff);
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url(../fonts/NunitoSans_7pt-SemiBold.woff2),
    url(../fonts/NunitoSans_7pt-SemiBold.woff);
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: nunito;
  src: url(../fonts/NunitoSans_7pt-Bold.woff2),
    url(../fonts/NunitoSans_7pt-Bold.woff);
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}