<div class="modals">
  <div class="modal-overlay">
    <div class="modal modals__sender-receiver" data-target="modal-sender-receiver-confirm">
      <div class="modal__sender-receiver modals__sender-receiver--confirm">
        <button class="modal-close" style="display: none;">Закрыть</button>
        <div class="modal-content">
          <div class="modal-content__top">
            <div class="modal-content__top-item">
              <h2 class="modal-content__top-title">Sender</h2>
              <span>Marten Fourcade</span>
              <span>5343 W Imperial Hwy</span>
              <span>Los Angeles CA 90045</span>
            </div>
            <svg class="icon-arrow-green">
              <use xlink:href="#arrow-green"></use>
            </svg>
            <div class="modal-content__top-item">
              <h2 class="modal-content__top-title">Reciever</h2>
              <span>Viktor Krukov</span>
              <span>5 San Main St</span>
              <span>for 62705</span>
              <span>Englishtown NJ 07726</span>
            </div>
          </div>
          <hr>
          <div class="modal-content__middle">
            <div class="modal-content__middle-item">
              Delivery Service:
              <span>FedEx</span>
            </div>
            <div class="modal-content__middle-item">
              <span>3 Days</span>
            </div>
            <div class="modal-content__middle-item">
              Weight:
              <span>17 Lb.</span>
            </div>
            <div class="modal-content__middle-item">
              Tracker Number:
              <div>
                <div class="copy-box">
                  <button class="btn__copy copy-btn">
                    <svg class="icon-copy">
                      <use xlink:href="#icon-copy"></use>
                    </svg>
                  </button>
                  <span class="copy-input">00000000000000</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="modal-content__bottom">
            <button class="btn--cancel modal-close">Cancel</button>
            <button class="btn" data-path="modal-sender-receiver-confirmed">Confirm Payment</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__sender-receiver" data-target="modal-sender-receiver-confirmed">
      <div class="modal__sender-receiver modals__sender-receiver--confirmed">
        <button class="modal-close" style="display: none;">Закрыть</button>
        <div class="modal-content">
          <div class="modal-content__top">
            <div class="modal-content__top-item">
              <h2 class="modal-content__top-title">Sender</h2>
              <span>Marten Fourcade</span>
              <span>5343 W Imperial Hwy</span>
              <span>Los Angeles CA 90045</span>
            </div>
            <svg class="icon-arrow-green">
              <use xlink:href="#arrow-green"></use>
            </svg>
            <div class="modal-content__top-item">
              <h2 class="modal-content__top-title">Reciever</h2>
              <span>Viktor Krukov</span>
              <span>5 San Main St</span>
              <span>for 62705</span>
              <span>Englishtown NJ 07726</span>
            </div>
          </div>
          <hr>
          <div class="modal-content__middle">
            <div class="modal-content__middle-item">
              Delivery Service:
              <span>FedEx</span>
            </div>
            <div class="modal-content__middle-item">
              <span>3 Days</span>
            </div>
            <div class="modal-content__middle-item">
              Weight:
              <span>17 Lb.</span>
            </div>
            <div class="modal-content__middle-item">
              Tracker Number:
              <div>
                <div class="copy-box">
                  <button class="btn__copy copy-btn">
                    <svg class="icon-copy">
                      <use xlink:href="#icon-copy"></use>
                    </svg>
                  </button>
                  <span class="copy-input">RT324Bb938op49</span>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="modal-content__bottom">
            <button class="btn--cancel modal-close">Cancel</button>
            <button class="btn" data-path="modal-sender-receiver-rate">Download</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__sender-receiver--rate" data-target="modal-sender-receiver-rate">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <h3 class="modal-content__title">Exchange Rate</h3>
        <div class="modal-content__date"><time>10/26/2023 5:50</time> AM EST</div>
        <p>
          The dollar exchange rate against the euro continues to fluctuate within one percent. Experts believe that this
          is due to
          uncertainty in the oil market and possible influence of political events in Europe on the dollar rate.
        </p>
        <a class="modal-content__readmore" href="#!">READ MORE</a>
      </div>
    </div>
    <div class="modal modals__password" data-target="modal-password-1">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <h3 class="modal-content__title">Your Password:</h3>
        <div class="copy-box">
          <button class="btn__copy copy-btn">
            <svg class="icon-copy">
              <use xlink:href="#icon-copy"></use>
            </svg>
          </button>
          <span class="copy-input">m4#Ori_349_[]uw5</span>
        </div>
        <span class="modals__password-text">You must save your password</span>
        <button class="btn modal-close" disabled>OK</button>
      </div>
    </div>
    <div class="modal modals__password" data-target="modal-password-2">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <h3 class="modal-content__title">Your Password:</h3>
        <div class="copy-box">
          <button class="btn__copy copy-btn">
            <svg class="icon-copy">
              <use xlink:href="#icon-copy"></use>
            </svg>
          </button>
          <span class="copy-input">m4#Ori_349_[]uw5</span>
        </div>
        <span class="modals__password-text">You must save your password</span>
        <button class="btn modal-close">OK</button>
      </div>
    </div>
    <div class="modal modals__new-user" data-target="modal-new-user">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <h3 class="modal-content__title">new user</h3>
        <div class="modal-content__items">
          <div class="modal-content__item">
            <h4 class="modal-content__item-title">user id:</h4>
            <div class="copy-box">
              <button class="btn__copy copy-btn">
                <svg class="icon-copy">
                  <use xlink:href="#icon-copy"></use>
                </svg>
              </button>
              <span class="copy-input">GT89FVb81</span>
            </div>
          </div>
          <div class="modal-content__item">
            <h4 class="modal-content__item-title">password:</h4>
            <div class="copy-box">
              <button class="btn__copy copy-btn">
                <svg class="icon-copy">
                  <use xlink:href="#icon-copy"></use>
                </svg>
              </button>
              <span class="copy-input">m4#Ori_349_[]uw5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__price-show" data-target="modal-price-show">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <div class="modal-content__items">
          <div class="modal-content__item">
            <div class="table-wrapper">
              <table class="modal-content__table">
                <tr>
                  <th>UPS</th>
                  <th>Insurance</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>UPS Ground</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="0">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>UPS 3 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>UPS 2 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="0">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>UPS 1 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>UPS International</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>White UPS Ground</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-content__item">
            <div class="table-wrapper">
              <table class="modal-content__table">
                <tr>
                  <th>FedEx</th>
                  <th>Insurance</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>FedEx Ground</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="0">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>FedEx 3 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>FedEx 2 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="0">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>FedEx 1 day</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>FedEx International</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-content__item">
            <div class="table-wrapper">
              <table class="modal-content__table">
                <tr>
                  <th>US Mail</th>
                  <th>Insurance</th>
                  <th>Price</th>
                </tr>
                <tr>
                  <td>Priority</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="0">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Express</td>
                  <td>
                    <input class="input-number" type="number" placeholder="0" value="1">
                  </td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="5000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-content__item">
            <div class="table-wrapper">
              <table class="modal-content__table">
                <tr>
                  <th>UPS</th>
                  <th>UPS White</th>
                </tr>
                <tr>
                  <td>Start Discount</td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="50000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>50 Purchases off</td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="50000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>200 Purchases off</td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="50000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>300 Purchases off</td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="50000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td>Additional Price</td>
                  <td>
                    <div class="input-price--box">
                      <input class="input-price" type="number" placeholder="0" value="50000">
                      <span class="input-price--symbol">$</span>
                    </div>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="modal-content__btns">
            <a class="btn--muted" href="#!">Set Based Rates</a>
            <button class="btn modal-close">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__new-user-support modals__new-user" data-target="modal-new-user-support">
      <button class="modal-close" style="display: none;">Закрыть</button>
      <div class="modal-content">
        <h3 class="modal-content__title">new user</h3>
        <div class="modal-content__items">
          <div class="modal-content__item">
            <h4 class="modal-content__item-title">user id:</h4>
            <div class="copy-box">
              <button class="btn__copy copy-btn">
                <svg class="icon-copy">
                  <use xlink:href="#icon-copy"></use>
                </svg>
              </button>
              <span class="copy-input">m4#Ori_349_[]uw5</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__templates" data-target="modal-templates-sender">
      <div class="modal-content">
        <div class="sender-receiver__item">
          <div class="title-box">
            <h2 class="title title--up">EDIT SENDER INFORmation</h2>
          </div>
          <form class="form sender-receiver__form">
            <div class="form__input-box form__input-box--cstm">
              <input class="form__input" type="text" placeholder=" " value="Johnny Cage">
              <label class="form__label">Full Name</label>
            </div>
            <div class="form__input-box form__input-box--cstm">
              <input class="form__input" type="text" placeholder=" " value="55 455 044 781">
              <label class="form__label">Phone Number</label>
              <button class="btn--reset" type="button">
                <svg class="icon-reset">
                  <use xlink:href="#reset"></use>
                </svg>
              </button>
            </div>
            <div class="form__input-box">
              <input class="form__input" type="text" placeholder=" " value="75 Dobkins Street">
              <label class="form__label">Address</label>
            </div>
            <div class="form__input-box">
              <input class="form__input" type="text" placeholder=" " value="1F Building, Room 510">
              <label class="form__label">Apatment, suite, etc</label>
            </div>
            <div class="form__input-boxes">
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="Los Angelest">
                <label class="form__label">City</label>
              </div>
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="California">
                <label class="form__label">State</label>
              </div>
            </div>
            <div class="form__input-boxes">
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="115350">
                <label class="form__label">Zip Code</label>
              </div>
              <div class="form-group">
                <div class="dropdown cstm-dropdown-active">
                  <button class="dropdown__button" type="button">
                    <span class="dropdown__list-item-content">United States</span>
                    <img class="dropdown__list-item-content" src="images/flags/usa.svg" alt="flag">
                  </button>
                  <ul class="dropdown__list">
                    <li class="dropdown__list-item" data-value="brazil">
                      <span class="dropdown__list-item-content">brazil</span>
                      <img class="dropdown__list-item-content" src="images/flags/brazil.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="usa">
                      <span class="dropdown__list-item-content">United States</span>
                      <img class="dropdown__list-item-content" src="images/flags/usa.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="bolivia">
                      <span class="dropdown__list-item-content">bolivia</span>
                      <img class="dropdown__list-item-content" src="images/flags/bolivia.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="argentina">
                      <span class="dropdown__list-item-content">argentina</span>
                      <img class="dropdown__list-item-content" src="images/flags/argentina.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="vanuatu">
                      <span class="dropdown__list-item-content">vanuatu</span>
                      <img class="dropdown__list-item-content" src="images/flags/vanuatu.svg" alt="flag">
                    </li>
                  </ul>
                  <span class="cstm-dropdown-placeholder">
                    Country
                    <svg class="icon-chevron">
                      <use xlink:href="#chevron"></use>
                    </svg>
                  </span>
                  <input type="text" name="select-category" value=usa" class="dropdown__input-hidden">
                </div>
              </div>
            </div>
            <div class="cstm-bottom">
              <button class="btn--cancel modal-close" type="button">Cancel</button>
              <button class="btn" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modals__templates" data-target="modal-templates-receiver">
      <div class="modal-content">
        <div class="sender-receiver__item">
          <div class="title-box">
            <h2 class="title title--up">EDIT Receiver INFORmation</h2>
          </div>
          <form class="form sender-receiver__form">
            <div class="form__input-box form__input-box--cstm">
              <input class="form__input" type="text" placeholder=" " value="Michael Ehrmantraut">
              <label class="form__label">Full Name</label>
            </div>
            <div class="form__input-box form__input-box--cstm">
              <input class="form__input" type="text" placeholder=" " value="55 455 044 781">
              <label class="form__label">Phone Number</label>
              <button class="btn--reset" type="button">
                <svg class="icon-reset">
                  <use xlink:href="#reset"></use>
                </svg>
              </button>
            </div>
            <div class="form__input-box">
              <input class="form__input" type="text" placeholder=" " value="605 Washington Ave">
              <label class="form__label">Address</label>
            </div>
            <div class="form__input-box">
              <input class="form__input" type="text" placeholder=" " value="2nd Building, Room 540">
              <label class="form__label">Apatment, suite, etc</label>
            </div>
            <div class="form__input-boxes">
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="Carlstadt">
                <label class="form__label">City</label>
              </div>
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="New Mexico">
                <label class="form__label">State</label>
              </div>
            </div>
            <div class="form__input-boxes">
              <div class="form__input-box">
                <input class="form__input" type="text" placeholder=" " value="07072">
                <label class="form__label">Zip Code</label>
              </div>
              <div class="form-group">
                <div class="dropdown cstm-dropdown-active">
                  <button class="dropdown__button" type="button">
                    <span class="dropdown__list-item-content">United States</span>
                    <img class="dropdown__list-item-content" src="images/flags/usa.svg" alt="flag">
                  </button>
                  <ul class="dropdown__list">
                    <li class="dropdown__list-item" data-value="brazil">
                      <span class="dropdown__list-item-content">brazil</span>
                      <img class="dropdown__list-item-content" src="images/flags/brazil.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="usa">
                      <span class="dropdown__list-item-content">United States</span>
                      <img class="dropdown__list-item-content" src="images/flags/usa.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="bolivia">
                      <span class="dropdown__list-item-content">bolivia</span>
                      <img class="dropdown__list-item-content" src="images/flags/bolivia.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="argentina">
                      <span class="dropdown__list-item-content">argentina</span>
                      <img class="dropdown__list-item-content" src="images/flags/argentina.svg" alt="flag">
                    </li>
                    <li class="dropdown__list-item" data-value="vanuatu">
                      <span class="dropdown__list-item-content">vanuatu</span>
                      <img class="dropdown__list-item-content" src="images/flags/vanuatu.svg" alt="flag">
                    </li>
                  </ul>
                  <span class="cstm-dropdown-placeholder">
                    Country
                    <svg class="icon-chevron">
                      <use xlink:href="#chevron"></use>
                    </svg>
                  </span>
                  <input type="text" name="select-category" value=usa" class="dropdown__input-hidden">
                </div>
              </div>
            </div>
            <div class="cstm-bottom">
              <button class="btn--cancel modal-close" type="button">Cancel</button>
              <button class="btn" type="submit">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="modal modals__templates-delete" data-target="modal-templates-delete">
      <div class="modal-content">
        <div class="modals__templates-delete-title">Delete this Template</div>
        <div class="modals__templates-delete-btns">
          <button class="btn--muted modal-close">YES</button>
          <button class="btn--muted modal-close">NO</button>
        </div>
      </div>
    </div>
    <div class="modal modals__tickets-message" data-target="modal-tickets-message">
      <div class="modal-content">
        <div class="tickets__form">
          <h3 class="tickets__form-title">Personal Message To User</h3>
          <div class="tickets__form-inputs">
            <div class="tickets__form-input--box choice-user">
              <div class="form-group">
                <div class="dropdown">
                  <span class="tickets__form-input-title">Choose User:</span>
                  <button class="dropdown__button" type="button">
                    <span class="dropdown__list-item-content">Select User</span>
                    <svg class="icon-chevron">
                      <use xlink:href="#chevron"></use>
                    </svg>
                  </button>
                  <ul class="dropdown__list">
                    <li class="dropdown__list-item--searchid">
                      <span>Search ID</span>
                      <form>
                        <button type="button">
                          <svg class="icon-search">
                            <use xlink:href="#search"></use>
                          </svg>
                        </button>
                        <input type="text">
                      </form>
                    </li>
                    <li class="dropdown__list-item" data-value="VB5466X74">
                      <span class="dropdown__list-item-content">VB5466X74</span>
                    </li>
                    <li class="dropdown__list-item" data-value="KL3284BNC">
                      <span class="dropdown__list-item-content">KL3284BNC</span>
                    </li>
                    <li class="dropdown__list-item" data-value="MB384IBCD">
                      <span class="dropdown__list-item-content">MB384IBCD</span>
                    </li>
                    <li class="dropdown__list-item" data-value="EUX3248CC">
                      <span class="dropdown__list-item-content">EUX3248CC</span>
                    </li>
                    <li class="dropdown__list-item" data-value="LOM834XXC">
                      <span class="dropdown__list-item-content">LOM834XXC</span>
                    </li>
                    <li class="dropdown__list-item" data-value="MB384IBCD">
                      <span class="dropdown__list-item-content">MB384IBCD</span>
                    </li>
                  </ul>
                  <input type="text" name="select-category" value="" class="dropdown__input-hidden">
                </div>
              </div>
            </div>
            <div class="tickets__form-input--box tickets__form-input--box-type">
              <div class="form-group">
                <div class="dropdown">
                  <span class="tickets__form-input-title">Type:</span>
                  <button class="dropdown__button" type="button">
                    <span class="dropdown__list-item-content regarding-the-label">Regarding The Label</span>
                  </button>
                  <ul class="dropdown__list">
                    <li class="dropdown__list-item" data-value="regarding-the-label">
                      <span class="dropdown__list-item-content regarding-the-label">Regarding The Label</span>
                    </li>
                    <li class="dropdown__list-item" data-value="general-questions">
                      <span class="dropdown__list-item-content general-questions">General Questions</span>
                    </li>
                  </ul>
                  <input type="text" name="select-category" value="regarding-the-label" class="dropdown__input-hidden">
                </div>
              </div>
            </div>
            <div class="tickets__form-input--box tickets__form-input--box-track">
              <span class="tickets__form-input--placeholder">Track:</span>
              <input class="tickets__form-input" type="text" value="KN190LP333PY344">
            </div>
            <div class="tickets__form-input--box tickets__form-input--box-priority">
              <div class="form-group">
                <div class="dropdown">
                  <span class="tickets__form-input-title">Priority:</span>
                  <button class="dropdown__button" type="button">
                    <span class="dropdown__list-item-content">Medium</span>
                  </button>
                  <ul class="dropdown__list">
                    <li class="dropdown__list-item" data-value="high">
                      <span class="dropdown__list-item-content">High</span>
                    </li>
                    <li class="dropdown__list-item" data-value="medium">
                      <span class="dropdown__list-item-content">Medium</span>
                    </li>
                    <li class="dropdown__list-item" data-value="low">
                      <span class="dropdown__list-item-content">Low</span>
                    </li>
                  </ul>
                  <input type="text" name="select-category" value="medium" class="dropdown__input-hidden">
                </div>
              </div>
            </div>
          </div>
          <textarea class="tickets__form-input--box tickets__form-input--textarea"
            placeholder="White Your Message..."></textarea>
          <div class="tickets__send-chat-bottom">
            <div class="add-file__box">
              <input class="add-file__input" type="file">
              <img class="add-file__img" src="images/icons/attach.svg" alt="img">
              <span class="add-file__text">Attach File</span>
            </div>
            <button class="btn modal-close">Send</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal modals__withdraw" data-target="modal-withdraw">
      <div class="modal-content">
        <div class="modals__withdraw-title">Please enter the desired withdrawal amount, after successful
          withdrawal your account will be closed</div>
        <div class="balance__elem-input--box">
          <div class="input-price--box">
            <input class="input-price" type="number" placeholder="0" value="">
          </div>
        </div>
        <div class=" modals__templates-delete-btns">
          <button class="btn--muted modal-close">Make Withdrawal</button>
          <button class="btn modal-close">Cancel</button>
        </div>
      </div>
    </div>
    <div class="modal modals__api" data-target="modal-api">
      <div class="modal-content">
        <div class="modals__api-title">Do you want to reset API Key?</div>
        <div class=" modals__templates-delete-btns">
          <button class="btn modal-close">YES</button>
          <button class="btn--muted modal-close">NO</button>
        </div>
      </div>
    </div>
    <div class="modal modals__invite" data-target="modal-invite">
      <div class="modal-content">
        <div class="copy-box">
          <button class="copy-btn">
            <svg class="icon-copy">
              <use xlink:href="#icon-copy"></use>
            </svg>
          </button>
          <span class="copy-input">ww.biz/invite/jdfo49hwo94ofowj3</span>
        </div>
      </div>
    </div>
    <div class="modal modals__change modals__change-contact" data-target="modal-change-contact">
      <div class="modal-content">
        <h2 class="modals__change-title">Contact (Telegram or JID)</h2>
        <div class="modals__change-content">
          <input class="cstm-input" type="text" autocomplete="off" value="@rankienawa">
        </div>
        <div class="modals__change-btns">
          <button class="btn--cancel modal-close">Cancel</button>
          <button class="btn modal-close">Save</button>
        </div>
      </div>
    </div>
    <div class="modal modals__change modals__change-password" data-target="modal-change-password">
      <div class="modal-content">
        <h2 class="modals__change-title">CHANGE password</h2>
        <div class="modals__change-content">
          <div class="form__input-box">
            <input class="form__input" type="text" placeholder=" ">
            <label class="form__label">Old Password</label>
          </div>
          <div class="form__input-box form__input-box--cstm">
            <input class="form__input" type="text" placeholder=" ">
            <label class="form__label">Generate New Password</label>
            <button class="btn--reset" type="button">
              <svg class="icon-reset">
                <use xlink:href="#reset"></use>
              </svg>
            </button>
          </div>
          <div class="form__input-box">
            <input class="form__input" type="text" placeholder=" ">
            <label class="form__label">Write New Password Here</label>
          </div>
        </div>
        <div class="modals__change-btns">
          <button class="btn--cancel modal-close">Cancel</button>
          <button class="btn modal-close">Save</button>
        </div>
      </div>
    </div>
  </div>
</div>