<div class="sidebar">
  <button class="sidebar__btn-open">
    <span class="sidebar__btn-line"></span>
  </button>
  <div class="sidebar__inner">
    <header class="header">
      <div class="header__inner">
        <div class="logo">
          <img class="logo__img" src="images/logo.svg" alt="logo">
        </div>
        <nav class="nav sidebar__nav">
          <ul class="nav__list">
            <li class="nav__item nav__item-api">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-api"></use>
                </svg>
                <span>API</span>
              </a>
            </li>
            <li class="nav__item nav__item-news">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-news"></use>
                </svg>
                <span>News</span>
                <div class="nav__count">2</div>
              </a>
            </li>
            <li class="nav__item nav__item-wallet">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-wallet"></use>
                </svg>
                <span>Wallet</span>
                <div class="nav__count">!</div>
              </a>
            </li>
            <li class="nav__item nav__item-purchases">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-purchases"></use>
                </svg>
                <span>Purchases</span>
              </a>
            </li>
            <li class="nav__item nav__item-templates">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-templates"></use>
                </svg>
                <span>Templates</span>
              </a>
            </li>
            <li class="nav__item nav__item-support">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-support"></use>
                </svg>
                <span>Support</span>
                <div class="nav__count">9+</div>
              </a>
            </li>
            <li class="nav__item nav__item-account">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-account"></use>
                </svg>
                <span>Account</span>
              </a>
            </li>
          </ul>
        </nav>
        <a class="btn" href="#!">Create Shipment</a>
      </div>
    </header>
    <footer class="footer">
      <div class="footer__inner">
        <a class="socials__link" href="#!">
          <img src="images/icons/telegram.svg" alt="telegram">
          <span>Follow our Telegram</span>
        </a>
        <div class="copyright">
          <a href="#!">© 2020-2023</a>
          <a href="#!">All Rights Reserved</a>
          <a href="#!">Regulations</a>
        </div>
      </div>
    </footer>
  </div>
</div>