<div class="sidebar sidebar-admin">
  <button class="sidebar__btn-open">
    <span class="sidebar__btn-line"></span>
  </button>
  <div class="sidebar__inner">
    <header class="header">
      <div class="header__inner">
        <div class="logo">
          <img class="logo__img" src="images/logo.svg" alt="logo">
        </div>
        <nav class="nav sidebar__nav">
          <ul class="nav__list">
            <li class="nav__item nav__item-overview">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-overview"></use>
                </svg>
                <span>Overview</span>
              </a>
            </li>
            <li class="nav__item nav__item-wallet">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-wallet"></use>
                </svg>
                <span>Wallet</span>
              </a>
            </li>
            <li class="nav__item nav__item-service">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-service"></use>
                </svg>
                <span>Service</span>
              </a>
            </li>
            <li class="nav__item nav__item-support">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-support"></use>
                </svg>
                <span>Support</span>
              </a>
            </li>
            <li class="nav__item nav__item-news">
              <a class="nav__link" href="#!">
                <svg class="icon-nav">
                  <use xlink:href="#icon-news"></use>
                </svg>
                <span>News & Rules</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </header>
    <footer class="footer">
      <div class="footer__inner">
        <div class="admin-footer">
          <a class="admin-footer__link" href="#!">
            <svg class="icon-eye">
              <use xlink:href="#icon-eye"></use>
            </svg>
            <span>Admin</span>
          </a>
          <a class="admin-footer__link" href="#!">
            <svg class="icon-exit">
              <use xlink:href="#icon-exit"></use>
            </svg>
            <span>Logout</span>
          </a>
        </div>
      </div>
    </footer>
  </div>
</div>