.news {
  &__inner {
    max-width: 886px;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__item {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    border-radius: 4px;
    background: #FFF;
  }

  &__item:has(.checkbox-input:checked) {
    background: #E7EBEE;

    .news__img {
      opacity: .5;
    }
  }

  &__item:nth-child(n+2) {
    display: none;
  }

  &__items.history-show {
    .news__item:nth-child(n+2) {
      display: flex;
    }
  }

  &__item-more-btn {
    width: fit-content;
    margin: 0 auto;
  }

  &__img {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 4px;
    object-fit: cover;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
  }

  &__date {
    color: #B0B0B0;
    font-size: 12px;
    font-weight: 400;
  }

  &__descr {
    display: flex;
    flex-direction: column;
    gap: 1em;

    max-height: 171px;
    overflow: hidden;

    font-size: 14px;
    font-weight: 400;

    div {
      display: flex;
      flex-direction: column;
    }
  }

  .news__info.news-more-active .news__descr {
    max-height: 600px;
    overflow: auto;
  }

  &__read-off {
    display: none;
  }

  .checkbox-label {
    width: fit-content;
  }

  .checkbox-input:checked {
    &~.news__read-on {
      display: none;
    }

    &~.news__read-off {
      display: inline-block;
    }
  }

  &__more {
    display: inline-block;
    text-align: center;

    color: #B0B0B0;
    font-size: 12px;
    font-weight: 600;
  }

  &__item-more-btn {
    &.news-more-active {
      .news__more-btn--more {
        display: none;
      }

      .news__more-btn--less {
        display: block;
      }
    }
  }

  .news__more-btn--less {
    display: none;
  }
}